footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(100% - 64px);
  background-color: var(--color-power);
  padding: 64px 32px;

  .footer__figure_container {
    padding: 10px;
    height: 120px;

    .footer__figure_img {
      height: 100%;
    }
  }

  .footer__line {
    width: 90%;
    margin: 32px 0px;
    border-bottom: 2px solid var(--color-primary);
  }

  .footer__menu {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-between;

    .footer__menu_option {
      cursor: pointer;
      margin-right: 16px;
      transition: 0.2s;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .footer__socialmedia {
    width: 32px;
    height: 32px;
    transition: 0.2s;

    &:first-child {
      margin-right: 8px;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer__line {
    margin-bottom: 16px !important;
  }

  .footer__menu {
    flex-direction: column;
    width: 100% !important;
    line-height: 32px;
  }

  .footer__figure_container {
    height: 80px !important;
  }
}
