<div class="navbar__menu">
  <div>
    <label
      class="navbar__menu_option"
      translate="yes"
      data-translation-key="navbar.home">
      Início
    </label>
    <label
      class="navbar__menu_option"
      translate="yes"
      data-translation-key="navbar.solutions">
      Soluções
    </label>
    <label
      class="navbar__menu_option"
      translate="yes"
      data-translation-key="navbar.contact">
      Contato
    </label>
  </div>

  <div>
    <a href="https://www.linkedin.com/company/soulsys/" target="_blank">
      <img class="navbar__socialmedia" src="src/assets/icons/linkedin.png" />
    </a>

    <a href="https://github.com/SoulSystemProtocol" target="_blank">
      <img class="navbar__socialmedia" src="src/assets/icons/github.png" />
    </a>

    <a href="https://github.com/SoulSystemProtocol" target="_blank">
      <img class="navbar__socialmedia" src="src/assets/icons/icon_globo.png" />
    </a>
  </div>
</div>
