nav {
  display: flex;
  justify-content: center;

  position: fixed;
  z-index: 10;

  padding: 16px 0px;

  width: 100%;

  .navbar__menu {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;

    .navbar__menu_option {
      cursor: pointer;
      margin-right: 16px;
      transition: 0.2s;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .navbar__socialmedia {
    width: 32px;
    height: 32px;
    transition: 0.2s;

    &:first-child {
      margin-right: 8px;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar__menu {
    width: 100% !important;
  }
}
