.home__container {
  height: 100%;
  width: 100%;
  background-image: url("src/assets/imgs/opacity_bg.png");
}

.home__logo_container {
  margin: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  z-index: 11;
  left: 64px;

  animation: opacity 1s ease-in-out;

  .home__logo_container_img {
    width: 90%;
  }
}

.home__figure_container {
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0px;
  z-index: 1;

  animation: slide-in 1s ease-in-out;

  .home__figure_container_img {
    height: 100%;
  }
}

.home__assets_container {
  margin: 0px;
  height: 100%;

  .home__assets_container_img {
    height: 100%;
    width: 100%;
    opacity: 0.25;
  }
}

@media only screen and (max-width: 600px) {
  .home__figure_container {
    right: -172px;
  }

  .home__logo_container {
    left: 0px;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
