<figure class="footer__figure_container">
  <img class="footer__figure_img" src="src/assets/imgs/logo.png" alt="logo" />
</figure>

<div class="footer__line"></div>

<div class="footer__menu">
  <div>
    <label
      class="footer__menu_option"
      translate="yes"
      data-translation-key="navbar.home"
      >Início</label
    >
    <label
      class="footer__menu_option"
      translate="yes"
      data-translation-key="navbar.solutions"
      >Soluções</label
    >
    <label
      class="footer__menu_option"
      translate="yes"
      data-translation-key="navbar.contact"
      >Contato</label
    >
  </div>

  <div>
    <a href="https://www.linkedin.com/company/soulsys/" target="_blank">
      <img class="footer__socialmedia" src="src/assets/icons/linkedin.png" />
    </a>

    <a href="https://github.com/SoulSystemProtocol" target="_blank">
      <img class="footer__socialmedia" src="src/assets/icons/github.png" />
    </a>
  </div>
</div>
