<figure class="footer-figure-container">
  <img class="footer-img-container" src="src/assets/imgs/logo.png" alt="logo" />
</figure>

<div class="line"></div>

<div class="menu">
  <div>
    <label class="option" translate="yes" data-translation-key="navbar.home"
      >Início</label
    >
    <label
      class="option"
      translate="yes"
      data-translation-key="navbar.solutions"
      >Soluções</label
    >
    <label class="option" translate="yes" data-translation-key="navbar.contact"
      >Contato</label
    >
  </div>

  <div>
    <a href="https://www.linkedin.com/company/soulsys/" target="_blank">
      <img class="social-media" src="src/assets/icons/linkedin.png" />
    </a>

    <a href="https://github.com/SoulSystemProtocol" target="_blank">
      <img class="social-media" src="src/assets/icons/github.png" />
    </a>
  </div>
</div>
