footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(100% - 64px);
  background-color: var(--color-power);
  padding: 64px 32px;

  .footer-figure-container {
    padding: 10px;
    height: 120px !important;

    .footer-img-container {
      height: 100%;
    }
  }

  .line {
    width: 90%;
    margin: 32px 0px;
    border-bottom: 2px solid var(--color-primary);
  }

  .menu {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-between;

    .option {
      cursor: pointer;
      margin-right: 16px;
      transition: 0.2s;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .social-media {
    width: 32px;
    height: 32px;
    transition: 0.2s;

    &:first-child {
      margin-right: 8px;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}
