.web-mobile-erp__container {
  display: flex;
  align-items: center;

  position: relative;

  height: 100%;
  width: 100%;

  background-image: url("/src/assets/imgs/assets_effect.png");
}

.web-mobile-erp__content {
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: row;
}

.web-mobile-erp__texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 64px;
}

.web-mobile-erp__title_container {
  display: flex;
  align-items: center;

  position: relative;
  margin-bottom: 16px;

  .web-mobile-erp__title_container_size_big {
    font-weight: 900;
    color: var(--color-primary);
    font-size: 7rem;

    transition: transform 1s ease-in-out;
  }
}

.web-mobile-erp__text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;

  .web-mobile-erp__text_container_value {
    margin: 0px;
    font-size: 1.5rem;
    color: var(--color-complementary);

    transition: transform 1.25s ease-in-out;
  }
}

.web-mobile-erp__technologies-container {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  width: 50%;
  margin-right: 64px;

  .web-mobile-erp__technologies-container_title {
    font-weight: 900;
    padding-top: 16px;
    padding-left: 32px;
    background-image: linear-gradient(to left, transparent, #83fac475);
  }

  .web-mobile-erp__technologies-container_content {
    display: flex;
    padding-bottom: 16px;
    background-image: linear-gradient(to left, transparent, #83fac475);

    transition: transform 1.25s ease-in-out;
  }

  .web-mobile-erp__technologies-container_content-dark {
    background-image: linear-gradient(
      to left,
      transparent,
      #439a987a
    ) !important;

    transition: transform 1.5s ease-in-out;
  }

  .web-mobile-erp__technologies-container_img-footer-title {
    display: flex;
    justify-content: center;
  }

  .web-mobile-erp__technologies-figure {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;

    .web-mobile-erp__technologies-img {
      width: 100%;
    }
  }

  .web-mobile-erp__technologies-informations {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 32px;

    .web-mobile-erp__technologies-informations-text {
      flex: 1 0 40%;
      font-style: italic;
      height: 48px;
    }
  }
}

.web-mobile-erp_smile_container {
  position: absolute;
  bottom: 64px;
  right: 64px;

  width: 25%;
  display: flex;
  justify-content: flex-end;

  border-bottom: 1px solid var(--color-complementary);

  .web-mobile-erp_smile_container_figure {
    height: 48px;

    .web-mobile-erp_smile_container_img {
      height: 100%;
    }
  }
}

.web-mobile-erp__animation_text {
  transform: translateX(-30%);
}

.web-mobile-erp__animation_technologies-container_content {
  transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
  .web-mobile-erp__animation_text {
    transform: translateX(-20%);
  }

  .web-mobile-erp__animation_technologies-container_content {
    transform: translateX(-30%);
  }

  .web-mobile-erp__content {
    flex-direction: column;
  }

  .web-mobile-erp__texts {
    width: calc(100% - 32px) !important;
    padding-left: 0px !important;
    margin-left: 16px;
  }

  .web-mobile-erp__title_container_size_big {
    font-size: 3rem !important;
    margin-top: 16px;
  }

  .web-mobile-erp__text_container {
    width: 100%;
  }

  .web-mobile-erp__technologies-container {
    width: 75%;
    margin-top: 16px;
  }

  .web-mobile-erp_smile_container {
    right: 8px !important;
  }
}
