.web-mobile-erp__container {
  display: flex;
  align-items: center;

  position: relative;

  height: 100%;
  width: 100%;

  background-image: url("src/assets/imgs/assets_effect.png");
}

.web-mobile-erp__content {
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: column;
}

.web-mobile-erp__title_container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;

  position: relative;
  margin-bottom: 16px;

  .web-mobile-erp__title_container_size_big {
    font-weight: 900;
    color: var(--color-primary);
    font-size: 7rem;
  }
}

.web-mobile-erp__text_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;

  .web-mobile-erp__text_container_value {
    width: 30%;
    margin: 0px;
    font-size: 1.5rem;
    color: var(--color-complementary);
  }
}

.web-mobile-erp_smile_container {
  position: absolute;
  bottom: 64px;
  right: 64px;

  width: 25%;
  display: flex;
  justify-content: flex-end;

  .web-mobile-erp_smile_container_figure {
    height: 48px;

    .web-mobile-erp_smile_container_img {
      height: 100%;
    }
  }
}
